<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
</html>

az storage file upload  --account-name templatez  --share-name teste --source templates/index.html
az storage file upload-batch  --account-name templatez  --destination https://templatez.file.core.windows.net/teste --source templates --destination-path subpasta